
body{
    cursor: none;
}
.cursor {
    display: none;
}
@media all and (min-width: 1025px) {
    .cursor {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1002;
        width: 24px;
        height: 24px;
        mix-blend-mode: exclusion;
        background: none;
        font-family: "LinetoCircularBold", Arial, sans-serif;
        font-size: 13px;
        line-height: 48px;
        color: #000;
        text-align: center;
        transition: width 0.25s, height 0.25s;
        transform: translate3d(-12px, -12px, 0);
        /* fix */
        transform-origin: center;
        pointer-events: none;
    }
    .cursor__dot {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 50%;
        transition: all 0.25s;
        transform-origin: center;
        }
    }

body,
html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
